.footer {
  padding-top: 30px;
  padding-bottom: 10px;
  .links {
    text-align: center;
    color: #999;
    .link {
      display: inline-block;
      padding: 10px;
    }
  }
  .copyright {
    text-align: center;
    color: #666;
    line-height: 30px;
  }
}
