<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/header-common.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
  <%= require('html-loader!./layout/nav-simple.html') %>

  <div class="page-wrap">
    <div class="w">
      <div class="user-con">
        <div class="user-title">用户登录</div>
        <div class="user-box">
          <div class="error-item" style="display: none;">
            <i class="fa fa-minus-circle error-icon"></i>
            <p class="err-msg">error</p>
          </div>
          <div class="user-item">
            <label for="username" class="user-label">
              <i class="fa fa-user"></i>
            </label>
            <input class="user-content" id="username" type="text" placeholder="请输入用户名" autocomplete="off">
          </div>
          <div class="user-item">
            <label for="password" class="user-label">
              <i class="fa fa-lock"></i>
            </label>
            <input class="user-content" id="password" type="password" placeholder="请输入密码" autocomplete="off">
          </div>
          <button class="btn btn-danger" id="submit">登录</button>
          <div class="link-item">
            <a href="./user-reset.html" class="link" target="_blank">忘记密码</a>
            <a href="./user-register.html" class="link" target="_blank">免费注册</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>