<div class="footer">
  <div class="w">
    <div class="links">
      <a class="link" href="http://app.vipfgj.com" target="_blank">江西房管家</a>
      <a class="link" href="http://app.vipfgj.com" target="_blank">江西房管家</a>
      <a class="link" href="http://app.vipfgj.com" target="_blank">江西房管家</a>
      <a class="link" href="http://app.vipfgj.com" target="_blank">江西房管家</a>
      <a class="link" href="http://app.vipfgj.com" target="_blank">江西房管家</a>
    </div>
    <div class="copyright">
      Copyright 2018  licong96.github.io
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>