<div class="footer">
  <div class="w">
    <div class="links">
      <a class="link" href="http://app.vipfgj.com" target="_blank">GitHub</a>|
      <a class="link" href="http://app.vipfgj.com" target="_blank">知乎</a>|
      <a class="link" href="http://app.vipfgj.com" target="_blank">博客园</a>|
      <a class="link" href="http://app.vipfgj.com" target="_blank">掘金</a>|
      <a class="link" href="http://app.vipfgj.com" target="_blank">论坛</a>
    </div>
    <div class="copyright">
      Copyright 2018  licong96.github.io
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>